<app-header></app-header>
<section class="sectionone">
    <div class="col-xl-12">
        <div class="container">
            <div class="col-xl-12 text-center">
                <div class="mt-2 p-2">
                    <h1> MODULO 1 - Clase 2</h1>
                    <p>
                        <strong>
                            Gestión de Archivos y Carpetas

                        </strong>
                        <br>

                        Aprenderás a crear, renombrar y organizar archivos en carpetas.
                        <br>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="sectionDos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-stepper orientation="vertical">
                    <mat-step>
                        <ng-template matStepLabel>
                            ¿Qué es un archivo?
                        </ng-template>

                        <p>
                            Un archivo es cualquier elemento que guardamos en nuestra computadora. Puede ser un
                            documento, una foto, un video o incluso una canción. Los archivos tienen un nombre y un tipo
                            que los identifica, como "Documento.docx" o "Imagen.jpg". Son esenciales para almacenar y
                            gestionar nuestra información.

                        </p>

                        <strong>
                            Ejemplos de archivos:
                        </strong>

                        <p>
                            Un documento de Word llamado "Tareas.docx".
                            <br>
                            Una imagen titulada "Vacaciones.jpg".
                            <br>
                            Una canción guardada como "Favorita.mp3".
                        </p>
                        <br>
                        <div>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel> ¿Qué es una carpeta?</ng-template>
                        <p>
                            Las carpetas son como cajas virtuales que usamos para organizar y guardar nuestros archivos.
                            Ayudan a mantener todo en orden y a encontrar más rápido lo que necesitamos.
                            Por ejemplo, puedes tener una carpeta llamada "Fotos" donde guardes todas tus imágenes.

                        </p>
                        <strong>
                            Características de una carpeta:

                        </strong>
                        <p>
                            Puede contener archivos y otras carpetas (subcarpetas).
                            Tiene un nombre que puedes personalizar.
                            Facilita el acceso y la organización.

                        </p>
                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Cómo crear una carpeta
                        </ng-template>

                        <p>
                            Haz clic derecho en un espacio vacío del escritorio o en cualquier ventana de tu
                            computadora.
                            Selecciona la opción Nuevo y luego haz clic en Carpeta.
                            Escribe un nombre para la carpeta (por ejemplo, "Mis documentos") y presiona Enter.
                            Consejo práctico: Usa nombres descriptivos para tus carpetas, como "Fotos de vacaciones" o
                            "Proyectos de trabajo", para identificarlas fácilmente.

                        </p>



                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Cómo mover un archivo a una carpeta
                        </ng-template>
                        <p>Haz clic sobre el archivo que deseas mover y mantén presionado el botón izquierdo del mouse.
                            Arrastra el archivo hacia la carpeta en la que deseas guardarlo.
                            Suelta el botón del mouse para soltar el archivo dentro de la carpeta.
                            Nota: Si prefieres otra opción, también puedes copiar el archivo (Ctrl+C) y pegarlo (Ctrl+V)
                            dentro de la carpeta.
                        </p>


                        <div>
                            <div>
                                <button mat-button matStepperPrevious>Anterior</button>
                                <button mat-button matStepperNext>Siguiente</button>
                            </div>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Video Tutoria </ng-template>
                        <p>
                            aqui podras encontrar un ejemplo
                        </p>
                        <div class="text-center">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/t1R3taoDSfE?si=klROloMHquEh4lEl"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Actividad práctica </ng-template>
                        <p>
                            <strong>
                                Actividad práctica
                                <br>
                                Manos a la obra:
                            </strong>
                        </p>
                        <p>
                            Crea una carpeta en el escritorio llamada "Mis documentos".
                            Busca un archivo en tu computadora y guárdalo dentro de esa carpeta.
                            Renombra la carpeta a "Mis documentos personales" para practicar cómo cambiar el nombre de
                            una carpeta.
                            Recomendaciones para organizar tus carpetas y archivos:

                        </p>
                        <br>
                        <p>
                            Usa categorías claras: Organiza tus carpetas por temas o proyectos.
                            Evita el desorden: No guardes todos tus archivos en el escritorio.
                            Haz respaldos: Guarda copias de tus archivos importantes en una memoria USB o en la nube.
                            Ahora estás listo para gestionar tus archivos y carpetas como un experto. ¡Sigue practicando
                            para dominar estas herramientas esenciales!
                        </p>

                        <div class="text-center">
                            <iframe allow="fullscreen; autoplay;" allowfullscreen width="795" height="690"
                                frameborder="0"
                                src="https://es.educaplay.com/juego/3526362-crear_una_carpeta.html"></iframe>

                        </div>


                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <!-- <button mat-button (click)="stepper.reset()">Reiniciar</button> -->
                        </div>
                    </mat-step>
                </mat-stepper>


            </div>
        </div>
    </div>
</section>