<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/LOGO.svg" alt="" width="64">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Botones Registrarse e Iniciar sesión -->
      <div class="d-flex ms-auto">
        <button class="btn btn-registrarse me-2" (click)="login()" *ngIf="!validationLogin">Registrarse</button>
        <button class="btn btn-iniciar-sesion" (click)="login()" *ngIf="!validationLogin">Iniciar sesión</button>
        <button class="btn btn-iniciar-sesion" (click)="login()" *ngIf="validationLogin">Cerrar sesión</button>
      </div>
    </div>
  </div>
</nav>
