<app-header></app-header>
<section class="sectionone">
    <div class="col-xl-12">
        <div class="container">
            <div class="col-xl-12 text-center">
                <div class="mt-2 p-2">
                    <h1> Modulo 1</h1>
                    <p>
                        <strong>
                            Introducción a la Computación Básica y Navegación en Internet
                        </strong>
                        <br>
                        Aprenderás a utilizar la computadora y a navegar por internet para acceder a la información
                        <br>
                        que necesitas y comunicarte de manera efectiva.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="sectionDos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="list-group">
                    <div class="list-group-item d-flex align-items-start kcursor" (click)=" moduleOne()">
                        <div class="circle-number me-4">1</div>
                        <div>
                            <h5 class="mb-2 fw-bold">Conceptos Básicos de Computación</h5>
                            <p class="mb-0">
                                Familiarízate con las partes principales de una computadora, y cómo
                                encenderla y apagarla correctamente.
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-start kcursor" (click)=" moduletwo()">
                        <div class="circle-number me-4">2</div>
                        <div>
                            <h5 class="mb-2 fw-bold">Gestión de Archivos y Carpetas</h5>
                            <p class="mb-0">
                                Aprende a organizar y gestionar tus archivos de manera eficiente.
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-start kcursor" (click)="modulethree()">
                        <div class="circle-number me-4">3</div>
                        <div>
                            <h5 class="mb-2 fw-bold">Navegación en Internet</h5>
                            <p class="mb-0">
                                Domina las herramientas básicas para navegar por Internet.
                            </p>
                        </div>
                    </div>
                    <div class="list-group-item d-flex align-items-start kcursor" (click)=" modulefour()">
                        <div class="circle-number me-4">4</div>
                        <div>
                            <h5 class="mb-2 fw-bold">Correo Electrónico</h5>
                            <p class="mb-0">
                                Aprende a gestionar tu cuenta de correo electrónico y enviar mensajes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>