<app-header></app-header>
<section class="sectionone">
    <div class="col-xl-12">
        <div class="container">
            <div class="col-xl-12 text-center">
                <div class="mt-2 p-2">
                    <h1> MODULO 1 - Clase 1</h1>
                    <p>
                        <strong>
                            Introducción a la Computación Básica y Navegación en Internet
                        </strong>
                        <br>
                        Aprenderás a utilizar la computadora y a navegar por internet para acceder a la información
                        <br>
                        que necesitas y comunicarte de manera efectiva.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="sectionDos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-stepper orientation="vertical">
                    <mat-step>
                        <ng-template matStepLabel>¿Qué es una computadora?</ng-template>

                        <p>
                            Una computadora es una máquina que nos permite realizar tareas como escribir documentos,
                            navegar en internet, gestionar información y más. Es esencialmente un dispositivo que
                            procesa datos y nos ayuda a interactuar con el mundo digital.
                        </p>

                        <strong>
                            Partes principales de una computadora:
                        </strong>

                        <li> Pantalla: La pantalla es el dispositivo donde se muestran los resultados de todo lo que
                            hacemos en la computadora, como imágenes, texto y videos. Es el lugar donde se visualiza la
                            información que generamos.
                        </li>
                        <br>
                        <li> Teclado: El teclado es la herramienta que usamos para escribir en la computadora. Cada
                            tecla tiene una función que nos permite ingresar texto, números y comandos.
                        </li>
                        <br>
                        <li>Mouse (o ratón): El mouse se utiliza para mover el cursor en la pantalla, seleccionar
                            elementos y realizar clics en ellos. Es una extensión de nuestra mano dentro del mundo
                            digital.
                        </li>
                        <br>
                        <li>CPU (Unidad Central de Procesamiento): La CPU es el "cerebro" de la computadora. Es donde se
                            procesan todos los comandos y datos. Sin la CPU, la computadora no podría funcionar
                            correctamente, ya que no podría ejecutar ninguna de las tareas que le pedimos.
                        </li>
                        <br>
                        <div class="text-center">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/WSCvbZxMXMw?si=YLQRXOF8HKVYoae8"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>

                        <div>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>
                    <mat-step>

                        <ng-template matStepLabel>Cómo encender la computadora</ng-template>

                        <strong>¿Por qué es importante aprender a encender correctamente una computadora?</strong>
                        <br>
                        <br>
                        <p>
                            Encender la computadora de manera adecuada es el primer paso para garantizar su buen
                            funcionamiento y prevenir problemas técnicos. Aprender este proceso te ayudará a
                            familiarizarte
                            con el equipo y a usarlo de manera segura y eficiente.
                        </p>

                        <br>
                        <strong>
                            Pasos para encender una computadora de escritorio
                        </strong>
                        <li>
                            <strong>Verifica las conexiones:</strong>
                            <br>
                            Asegúrate de que la computadora esté conectada a una toma de corriente.
                            <br>
                            Confirma que los periféricos, como el monitor, el teclado y el mouse, estén correctamente
                            conectados a la torre (CPU).
                        </li>

                        <li>
                            <strong>Identifica el botón de encendido:</strong>
                            <br>
                            En una computadora de escritorio, este botón suele estar ubicado en la parte frontal o
                            superior de la torre.
                            <br>
                            Presiónalo una vez para iniciar el encendido.
                        </li>
                        <li>
                            <strong>Espera el inicio del sistema operativo:
                            </strong>
                            <br>
                            Verás un logotipo o pantalla de carga mientras el sistema se prepara.
                            <br>
                            Cuando el escritorio aparezca, la computadora estará lista para usarse.

                        </li>
                        <br>
                        <br>
                        <strong>Pasos para encender una computadora portátil </strong>
                        <br>
                        <br>
                        <li>
                            <strong>Comprueba la batería:</strong>
                            <br>
                            Si la batería está baja, conecta el cargador antes de encender el equipo.
                        </li>
                        <li>
                            <strong>Encuentra el botón de encendido: </strong>
                            <br>
                            Este botón generalmente está situado en la parte superior del teclado o en uno de los
                            laterales del equipo.
                            <br>
                            Presiónalo una vez para encender la computadora portátil.
                        </li>

                        <li>
                            <strong>Observa el proceso de inicio:</strong>
                            Al igual que en una computadora de escritorio, aparecerá la pantalla de inicio del sistema
                            operativo. <br> <br>
                            Espera hasta que el escritorio esté visible y el equipo esté completamente cargado.

                        </li>

                        <strong> Recomendaciones adicionales:
                        </strong>
                        <li>
                            Evita presionar repetidamente el botón de encendido. Esto puede causar errores o apagar el
                            equipo innecesariamente.

                        </li>
                        <li>
                            Limpia el área de trabajo. Asegúrate de que el espacio donde colocas tu computadora sea
                            seguro y estable.

                        </li>
                        <li>
                            Nunca apagues la computadora desconectándola directamente de la corriente. Esto puede dañar
                            tanto el software como el hardware.

                        </li>
                        <br>
                        <br>
                        <p>
                            Con estos pasos y recomendaciones, tendrás la confianza necesaria para encender cualquier
                            computadora y dar inicio a tus actividades tecnológicas.

                        </p>

                        <div class="text-center">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/ibAKrizQLt8?si=P7lY5OtnVsVRlI6u"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            <br>
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/H-5MfC8NABo?si=pjtD2ypoO5dxQwCW"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>



                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>
                    <mat-step>
                        <ng-template matStepLabel>Apagar la computadora</ng-template>

                        <p>Apagar correctamente una computadora ayuda a proteger los archivos y configuraciones, evita
                            daños en el hardware y garantiza un mejor rendimiento a largo plazo.
                        </p>

                        <strong>
                            Pasos para apagar una computadora de escritorio
                        </strong>
                        <br>
                        <li>
                            <strong>Guarda tu trabajo:</strong>
                            <br>
                            Asegúrate de guardar todos los documentos o proyectos abiertos para evitar perder
                            información.
                            <br>
                            Cierra las aplicaciones activas antes de continuar.
                        </li>
                        <li>
                            <strong>Accede al menú de apagado:
                            </strong>
                            <br>
                            Haz clic en el botón de Inicio, ubicado en la esquina inferior izquierda de la pantalla.

                            <br>
                            Selecciona la opción Apagar.

                        </li>

                        <li>
                            <strong>Espera a que el sistema se apague completamente:

                            </strong>
                            <br>
                            No desconectes la computadora de la corriente hasta que el monitor muestre que el equipo
                            está apagado.

                            <br>
                            En algunas computadoras, las luces del gabinete (CPU) también se apagarán.
                        </li>
                        <strong>
                            Pasos para apagar una computadora portátil
                        </strong>

                        <li>
                            <strong>Cierra tus programas:
                            </strong>
                            <br>
                            Asegúrate de guardar los archivos y cerrar todas las aplicaciones abiertas.
                        </li>

                        <li>
                            <strong>Ubica la opción de apagado:
                            </strong>
                            <br>
                            Haz clic en el botón de Inicio.
                            <br>
                            Selecciona Apagar del menú que aparece.
                        </li>

                        <li>
                            <strong>Espera el apagado completo:

                            </strong>
                            <br>
                            Observa hasta que la pantalla se oscurezca completamente.

                            <br>
                            Si la computadora portátil está conectada al cargador, puedes desconectarlo una vez que el
                            equipo se haya apagado.
                        </li>

                        <strong>
                            Recomendaciones importantes:
                        </strong>

                        <li>
                            Evita apagar el equipo presionando el botón de encendido: Esto debe hacerse solo en
                            emergencias, ya que podría causar daños en el sistema operativo.
                        </li>
                        <li>
                            No cierres la tapa de la computadora portátil como método de apagado: Esto normalmente
                            activa el modo de suspensión, pero no apaga el sistema.

                        </li>
                        <li>
                            Limpia periódicamente tu espacio de trabajo: Esto reduce el riesgo de accidentes, como el
                            sobrecalentamiento por falta de ventilación.

                        </li>

                        <strong>
                            Apagar correctamente tu computadora prolongará su vida útil y garantizará que todo funcione
                            de manera óptima la próxima vez que la uses.

                        </strong>
                        <br>
                        <br>
                        <div class="text-center">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/AetKJpluZLE?si=Rsd-AzKW9lSPTtiX"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                        </div>

                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Actividad Práctica</ng-template>
                        <p>Realiza la actividad de encender y apagar una computadora con la guía del instructor.</p>

                        <div class="text-center">
                            <iframe style="max-width:100%"
                                src="https://wordwall.net/es/embed/98e9458431134a06b5c4f7fef9202644?themeId=23&templateId=25&fontStackId=0"
                                width="500" height="380" frameborder="0" allowfullscreen></iframe>

                        </div>
                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <!-- <button mat-button (click)="stepper.reset()">Reiniciar</button> -->
                        </div>
                    </mat-step>
                </mat-stepper>


            </div>
        </div>
    </div>
</section>