<app-header></app-header>
<section>
    <div class="col-xl-12">
        <div class="container">
            <div class="row">
                <div class="text-center mt-5">
                    <h1> ¡Bienvenido, Usuario Prueba ! </h1>
                </div>

                <div class="col-xl-4">
                    <div class="text-center">
                        <div class="ml1" (click)=" getModuleOne()">
                            <div class="contenedor">
                                <img src="../../../assets/img/MODULO1.svg" alt="" class="ml2">
                            </div>
                            <div class=" mt-2 text-center ml-24">
                                <h3> Modulo 1</h3>
                                <br>
                                <p class="text-center">
                                    Introducción a la Computación Básica y Navegación en Internet
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="text-center">
                        <div class="ml1">
                            <div class="contenedor">
                                <img src="../../../assets/img/MODULO2.svg" alt="" class="img">
                            </div>
                            <div class=" mt-2 text-center ml-24">
                                <h3>Modulo 2</h3>
                                <br>
                                <p class="text-center">
                                    Ofimática Básica
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div class="text-center">
                        <div class="ml1">
                            <div class="contenedor">
                                <img src="../../../assets/img/MODULO3.svg" alt="" class="img">
                            </div>
                            <div class=" mt-2 text-center ml-24">
                                <h3>Modulo 3</h3>
                                <br>
                                <p class="text-center">
                                    Aplicaciones Prácticas y Seguridad Digital
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>