<app-header></app-header>
<section class="sectionone">
    <div class="col-xl-12">
        <div class="container">
            <div class="col-xl-12 text-center">
                <div class="mt-2 p-2">
                    <h1> MODULO 1 - Clase 3</h1>
                    <p>
                        <strong>
                            Navegación en Internet

                        </strong>
                        <br>
                        Explora el mundo desde tu computadora: Aprende a usar un navegador para buscar información y
                        navegar de manera segura.
                        En esta lección, te enseñaremos qué es internet, cómo abrir un navegador y realizar búsquedas
                        efectivas, además de consejos para identificar información confiable.

                        <br>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="sectionDos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-stepper orientation="vertical">
                    <mat-step>
                        <ng-template matStepLabel>
                            ¿Qué es internet?

                        </ng-template>

                        <p>
                            Internet es una gigantesca red que conecta computadoras y dispositivos de todo el mundo. Nos
                            permite:
                            Acceder a información sobre cualquier tema.
                            Ver videos, escuchar música y disfrutar de entretenimiento.
                            Comunicarnos con personas mediante correos electrónicos, chats o videollamadas.
                            <br>
                            <strong>Ejemplo práctico:</strong> Gracias a internet, puedes aprender nuevas recetas,
                            explorar destinos turísticos y resolver dudas con un par de clics.

                        </p>
                        <div>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel> ¿Qué es un navegador?
                        </ng-template>

                        <p>
                            Un navegador es un programa que sirve como puerta de entrada a internet. Es el que usamos
                            para visitar páginas web, buscar información o ver videos.
                            <br>
                            Ejemplos de navegadores populares:
                            <br>
                            <li>Google Chrome</li>
                            <li>Mozilla Firefox</li>
                            <li>Microsoft Edge</li>
                            <li>Safari (en dispositivos Apple)</li>
                            <li>Dato útil: Aunque todos cumplen funciones similares, algunos navegadores pueden ser más
                                rápidos o tener características específicas.</li>

                        </p>

                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Cómo abrir un navegador

                        </ng-template>

                        <p>
                            Localiza el ícono del navegador en el escritorio o barra de herramientas de tu computadora.
                            Ejemplo: El ícono de Google Chrome tiene forma de círculo con colores rojo, verde, amarillo
                            y azul.
                            <br>
                            Haz doble clic en el ícono para abrir el navegador.
                            Consejo: Si no encuentras el navegador, usa la barra de búsqueda de tu computadora para
                            escribir el nombre del programa, como "Chrome" o "Firefox".

                        </p>



                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Cómo buscar algo en internet

                        </ng-template>
                        <p>Identifica la barra de búsqueda: Está en la parte superior del navegador.
                            Escribe lo que deseas buscar. Por ejemplo: "clima en Bogotá" o "recetas fáciles".
                            Presiona Enter para ver los resultados.
                            Haz clic en un enlace de la lista para abrirlo y explorar la información.
                            <strong>Tip para búsquedas efectivas: </strong>Usa palabras clave claras y específicas para
                            obtener mejores
                            resultados.

                        </p>


                        <div>
                            <div>
                                <button mat-button matStepperPrevious>Anterior</button>
                                <button mat-button matStepperNext>Siguiente</button>
                            </div>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Cuidado con la información en internet
                        </ng-template>
                        <p>
                            Prefiere sitios conocidos: Busca información en páginas oficiales, educativas o de
                            instituciones reconocidas.
                            Verifica varias fuentes: Si algo parece dudoso, compáralo con otros sitios.
                            Evita hacer clic en anuncios sospechosos: Algunos enlaces pueden contener virus o
                            información falsa.

                        </p>

                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Video Tutorial

                        </ng-template>
                        <div class="text-center">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/86IVvCCdzw4?si=6cIihxNdtRRdkjoz"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>

                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Actividad práctica </ng-template>
                        <p>
                            <strong>
                                ¡Pon en práctica lo aprendido!

                            </strong>
                        </p>
                        <p>
                            Abre tu navegador favorito.
                            Escribe en la barra de búsqueda: "Clima en Bogotá".
                            Encuentra y abre una página web que ofrezca esta información.
                            Lee la información y anota los datos principales, como la temperatura y las condiciones
                            meteorológicas.
                            Recomendación adicional: Practica buscando temas que te interesen, como tu receta favorita o
                            la historia de un lugar que quieras visitar.

                        </p>
                        <br>


                        <div class="text-center">
                            <iframe style="max-width:100%"
                                src="https://wordwall.net/es/embed/5340ed6266394e58869b8a5f13f586b3?themeId=1&templateId=35&fontStackId=0"
                                width="500" height="380" frameborder="0" allowfullscreen></iframe>

                        </div>


                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <!-- <button mat-button (click)="stepper.reset()">Reiniciar</button> -->
                        </div>
                    </mat-step>

                </mat-stepper>


            </div>
        </div>
    </div>
</section>