<app-header></app-header>
<section class="sectionone">
    <div class="col-xl-12">
        <div class="container">
            <div class="col-xl-12 text-center">
                <div class="mt-2 p-2">
                    <h1> MODULO 1 - Clase 4</h1>
                    <p>
                        <strong>
                            Correo Electrónico
                        </strong>
                        <br>
                        En esta clase descubrirás qué es el correo electrónico, cómo abrir tu cuenta, enviar y recibir
                        mensajes, y realizarás actividades prácticas para dominar esta herramienta esencial.

                        <br>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
<section class="sectionDos">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <mat-stepper orientation="vertical">
                    <mat-step>
                        <ng-template matStepLabel>
                            ¿Qué es un correo electrónico?


                        </ng-template>

                        <p>
                            El correo electrónico, también conocido como email, es como una carta digital que puedes
                            enviar de forma instantánea a cualquier persona, sin importar dónde se encuentre.

                            <strong>Ventajas principales:</strong>
                            Rápido y eficiente.
                            Ideal para enviar mensajes, documentos o imágenes.
                            Puedes acceder a él desde cualquier dispositivo conectado a internet.
                            Dato curioso: El primer correo electrónico se envió en 1971, ¡y revolucionó la forma de
                            comunicarnos!


                        </p>
                        <div>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel> Cómo crear una cuenta de correo electrónico
                            ¿Listo para abrir tu cuenta? Sigue estos pasos:

                        </ng-template>

                        <p>
                            Abre tu navegador: En la barra de búsqueda, escribe www.gmail.com y presiona Enter.
                            Haz clic en "Crear cuenta": Encontrarás esta opción en la página principal.
                            Completa el formulario: Ingresa tu nombre, un nombre de usuario (como
                            "mi.nombre{{'@'}}gmail.com")
                            y una contraseña segura.
                            Sigue las instrucciones: El sistema te pedirá verificar tu identidad y configurar detalles
                            como tu número de teléfono o fecha de nacimiento.
                            <strong>¡Listo!:</strong> Una vez completado, tendrás acceso a tu bandeja de entrada.
                            <strong>Consejo:</strong> Elige una contraseña única y difícil de adivinar para proteger tu
                            cuenta.

                        </p>

                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Cómo enviar un correo electrónico

                        </ng-template>

                        <p>
                            Abre tu cuenta y haz clic en el botón "Redactar".
                            Completa los campos:
                            Para: Escribe el correo electrónico del destinatario (por ejemplo, amigo{{'@'}}gmail.com).
                            Asunto: Escribe una breve descripción del mensaje (por ejemplo: "Consulta sobre la clase").
                            Escribe tu mensaje en el espacio destinado para ello.
                            Haz clic en el botón "Enviar" para enviar tu correo.
                            Ejemplo práctico:
                            <br>
                            <br>
                            <strong>Para:</strong> instructor{{'@'}}gmail.com
                            <br>
                            <strong>Asunto:</strong> Tarea completada
                            <br>
                            <strong>Mensaje:</strong> Hola, aquí te envío el archivo de la actividad de hoy.

                        </p>



                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Cómo leer un correo recibido
                        </ng-template>
                        <p>
                            Ingresa a tu cuenta de correo y abre la bandeja de entrada.
                            Haz clic en el mensaje que quieras leer.
                            Revisa el contenido del correo, y si lo necesitas, responde haciendo clic en el botón
                            "Responder".
                            Tip: Organiza tus correos en carpetas o usa etiquetas para no perder mensajes importantes.

                        </p>

                        <div>
                            <div>
                                <button mat-button matStepperPrevious>Anterior</button>
                                <button mat-button matStepperNext>Siguiente</button>
                            </div>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Video Tutorial

                        </ng-template>

                        <div class="text-ceneter">
                            <iframe width="560" height="315"
                                src="https://www.youtube.com/embed/6ksXUM3XW7Q?si=WtbKApdgBOpeKGIt"
                                title="YouTube video player" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>


                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <button mat-button matStepperNext>Siguiente</button>
                        </div>
                    </mat-step>


                    <mat-step>
                        <ng-template matStepLabel>Actividad Práctica
                        </ng-template>
                        <p>
                            <strong>
                                Pon en práctica lo aprendido:
                            </strong>
                        </p>
                        <p>
                            Crea una cuenta de correo electrónico en Gmail siguiendo los pasos anteriores.
                            Envía un correo de prueba al instructor con el asunto "Correo de prueba" y un mensaje breve.
                            Revisa la bandeja de entrada para leer la respuesta del instructor.

                        </p>
                        <br>


                        <div class="text-center">
                            <iframe style="max-width:100%"
                                src="https://wordwall.net/es/embed/6d47f76468314b008334c54382f68097?themeId=23&templateId=49&fontStackId=0"
                                width="500" height="380" frameborder="0" allowfullscreen></iframe>

                        </div>


                        <div>
                            <button mat-button matStepperPrevious>Anterior</button>
                            <!-- <button mat-button (click)="stepper.reset()">Reiniciar</button> -->
                        </div>
                    </mat-step>

                </mat-stepper>


            </div>
        </div>
    </div>
</section>