section {
    background-color: #16c5a9;
}

img{
    width: 39pc;
}
h1{
    font-weight: bold;
}
.mt1{
    margin-top: 30% !important;
}
p{
    font-size: larger;
    font-weight: revert-layer;
}

.btn-registrarse {
    background-color: transparent;
    border: 2px solid #000;
    /* Borde negro */
    color: #000;
    /* Tipografía negra */
    border-radius: 25px;
    /* Bordes redondeados */
    padding: 8px 20px;
    font-weight: bold;
}